In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.5.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [998 kB]
Get:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,572 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,224 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,293 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,149 kB]
Get:18 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [28.6 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,438 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,499 kB]
Fetched 19.5 MB in 7s (2,958 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time
from pyspark import SparkFiles
from pyspark.sql.functions import avg, round, year

In [3]:
URL = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [4]:
# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# 1. Read in the AWS S3 bucket into a DataFrame.
# 1.1. Download the file
spark.sparkContext.addFile(URL)
# 1.2. Determine the local path to the file
home_csv_path = f"file://{SparkFiles.get(os.path.basename(URL))}"
# 1.3. Load the local file into a dataframe
homes_df = spark.read.csv(home_csv_path, header=True, inferSchema=True)

homes_df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [5]:
# 2. Create a temporary view of the DataFrame.
homes_df.createOrReplaceTempView('homes')

In [6]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
avg_4br_query = """
  SELECT YEAR(date) AS Year, ROUND(AVG(price), 2) AS Average_Price
  FROM homes
  WHERE bedrooms=4
  GROUP BY Year
  ORDER BY Year DESC
"""
spark.sql(avg_4br_query).show()

+----+-------------+
|Year|Average_Price|
+----+-------------+
|2022|    296363.88|
|2021|    301819.44|
|2020|    298353.78|
|2019|     300263.7|
+----+-------------+

In [7]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
avg_3br_query = """
  SELECT YEAR(date) AS Year, ROUND(AVG(price), 2) AS Average_Price
  FROM homes
  WHERE bedrooms=3
  AND bathrooms=3
  GROUP BY Year
  ORDER BY Year DESC
"""
spark.sql(avg_3br_query).show()

+----+-------------+
|Year|Average_Price|
+----+-------------+
|2022|    292725.69|
|2021|    294211.46|
|2020|    294204.16|
|2019|    287287.82|
+----+-------------+

In [8]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
avg_2flrs_query = """
  SELECT YEAR(date) AS Year, ROUND(AVG(price), 2) AS Average_Price
  FROM homes
  WHERE bedrooms=3
  AND bathrooms=3
  AND floors=2
  AND sqft_living>=2000
  GROUP BY Year
  ORDER BY Year DESC
"""
spark.sql(avg_2flrs_query).show()

+----+-------------+
|Year|Average_Price|
+----+-------------+
|2022|    290242.99|
|2021|    296330.96|
|2020|    292289.09|
|2019|    289859.14|
+----+-------------+

In [9]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
view_query = """
  SELECT view AS View_Rating, ROUND(AVG(price), 2) AS Average_Price
  FROM homes
  GROUP BY View_Rating
  HAVING Average_Price >= 350000
  ORDER BY View_Rating DESC
"""

In [10]:
# Although this is a small dataset, determine the run time for this query.
print("Is table cached?", spark.catalog.isCached('homes'))
start_time = time.time()
spark.sql(view_query).show()
print("--- %s seconds ---" % (time.time() - start_time))

Is table cached? False
+-----------+-------------+
|View_Rating|Average_Price|
+-----------+-------------+
|        100|    1026669.5|
|         99|   1061201.42|
|         98|   1053739.33|
|         97|   1129040.15|
|         96|   1017815.92|
|         95|    1054325.6|
|         94|    1033536.2|
|         93|   1026006.06|
|         92|    970402.55|
|         91|   1137372.73|
|         90|   1062654.16|
|         89|   1107839.15|
|         88|   1031719.35|
|         87|    1072285.2|
|         86|   1070444.25|
|         85|   1056336.74|
|         84|   1117233.13|
|         83|   1033965.93|
|         82|    1063498.0|
|         81|   1053472.79|
+-----------+-------------+
only showing top 20 rows

--- 0.9549717903137207 seconds ---

In [11]:
# 7. Cache the the temporary table home_sales.
print("Is table cached?", spark.catalog.isCached('homes'))

spark.catalog.cacheTable('homes')

print("Is table cached?", spark.catalog.isCached('homes'))

Is table cached? False
Is table cached? True

In [12]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.
print("Is table cached?", spark.catalog.isCached('homes'))

start_time = time.time()

# Just rerun the query and not rewrite it
spark.sql(view_query).show()
print("--- %s seconds ---" % (time.time() - start_time))

Is table cached? True
+-----------+-------------+
|View_Rating|Average_Price|
+-----------+-------------+
|        100|    1026669.5|
|         99|   1061201.42|
|         98|   1053739.33|
|         97|   1129040.15|
|         96|   1017815.92|
|         95|    1054325.6|
|         94|    1033536.2|
|         93|   1026006.06|
|         92|    970402.55|
|         91|   1137372.73|
|         90|   1062654.16|
|         89|   1107839.15|
|         88|   1031719.35|
|         87|    1072285.2|
|         86|   1070444.25|
|         85|   1056336.74|
|         84|   1117233.13|
|         83|   1033965.93|
|         82|    1063498.0|
|         81|   1053472.79|
+-----------+-------------+
only showing top 20 rows

--- 1.9538230895996094 seconds ---

In [13]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
homes_df.write.partitionBy("date_built").mode("overwrite").parquet("homes_partitioned")

In [14]:
# 11. Read the parquet formatted data.
homes_df_part=spark.read.parquet('homes_partitioned')

In [15]:
# 12. Create a temporary table for the parquet data.
homes_df_part.createOrReplaceTempView('homes_part')

In [16]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

view_query = """
  SELECT view AS View_Rating, ROUND(AVG(price), 2) AS Average_Price
  FROM homes_part
  GROUP BY View_Rating
  HAVING Average_Price >= 350000
  ORDER BY View_Rating DESC
"""

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.00011610984802246094 seconds ---

In [17]:
# 14. Uncache the home_sales temporary table.
print("Is table cached?", spark.catalog.isCached('homes'))

spark.catalog.uncacheTable('homes')

print("Is table cached?", spark.catalog.isCached('homes'))

Is table cached? True
Is table cached? False